body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.ct-label.ct-horizontal {
  transform: translateY(10px) rotate(-30deg);
  transform-origin: start;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 1rem;
}

thead {
  background: #f5f5f5;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover {
  background-color: #f0f8ff;
}